## 목표 : 붓꽃 품종 식별 모델
- 데이터 : 3개 품종을 가진 iris.csv
- 피 쳐 : sepal.length, sepal.width
- 타 겟 : variety
- 유 형 : 지도학습 / 분류

In [41]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [42]:
data_file = '../data/iris.csv'

In [43]:
irisDF = pd.read_csv(data_file, usecols=[0,1,4])

irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   variety       150 non-null    object
dtypes: float64(2), object(1)
memory usage: 3.6+ KB

In [44]:
# Setosa, Virginica 품종 행만 추출
mask = irisDF.variety.isin(['Setosa', 'Virginica'])  # Boolean Indexing

# 해당 행만 도출
twoirisDF = irisDF[mask]
twoirisDF.index

# 인덱스 정리
twoirisDF.reset_index(drop=True, inplace=True)
twoirisDF

    sepal.length  sepal.width    variety
0            5.1          3.5     Setosa
1            4.9          3.0     Setosa
2            4.7          3.2     Setosa
3            4.6          3.1     Setosa
4            5.0          3.6     Setosa
..           ...          ...        ...
95           6.7          3.0  Virginica
96           6.3          2.5  Virginica
97           6.5          3.0  Virginica
98           6.2          3.4  Virginica
99           5.9          3.0  Virginica

[100 rows x 3 columns]

In [45]:
## Setosa, Virginica 품종명을 수치화
twoirisDF.variety = twoirisDF.variety.replace({'Setosa':0, 'Versicolor':1, 'Virginica':2}).copy()

twoirisDF

C:\Users\KDP-30\AppData\Local\Temp\ipykernel_5848\3745632757.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twoirisDF.variety = twoirisDF.variety.replace({'Setosa':0, 'Versicolor':1, 'Virginica':2}).copy()

    sepal.length  sepal.width  variety
0            5.1          3.5        0
1            4.9          3.0        0
2            4.7          3.2        0
3            4.6          3.1        0
4            5.0          3.6        0
..           ...          ...      ...
95           6.7          3.0        2
96           6.3          2.5        2
97           6.5          3.0        2
98           6.2          3.4        2
99           5.9          3.0        2

[100 rows x 3 columns]

In [48]:
twoirisDF = twoirisDF.sample(frac=1.)

print(twoirisDF.shape)
twoirisDF

(100, 3)

    sepal.length  sepal.width  variety
2            4.7          3.2        0
51           5.8          2.7        2
50           6.3          3.3        2
23           5.1          3.3        0
22           4.6          3.6        0
..           ...          ...      ...
77           6.1          3.0        2
74           6.7          3.3        2
8            4.4          2.9        0
39           5.1          3.4        0
14           5.8          4.0        0

[100 rows x 3 columns]